<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; img-src * data:;">
    <title>YT Downloader</title>

    <link rel="stylesheet" href="../static/bootstrap/bootstrap.min.css">
    <script src="../static/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../static/js/effects.js"></script>
    <script src="../static/js/modules/modal-generator.js"></script>

    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/effects.css">
    <link rel="stylesheet" href="../static/css/custom-styles.css">
    <script src="../static/js/index.js" defer></script>
</head>
<body>
    <div id="window-frame">
        <div class="frame-logo"> <img src="../static/logo/512x512.png" alt="logo"> <span>YT Downloader</span></div>
        <div class="frame-drag-section"></div>
        <div class="frame-controls">
            <div class="frame-btn" data-action="min">
                <img class="icon" src="../static/img/frame/min-w-30.png" alt="">
            </div>
            <div class="frame-btn close_ico" data-action="close">
                <img class="icon" src="../static/img/frame/close-w-30.png" alt="">
            </div>
        </div>
    </div>

    <div id="main"></div>
</body>
</html>
